body{
background: #F5ECCE;
    font-family: arial, helvetica, sans-serif;
}

#container {
    background: #835E2E;
    color: #4C2D05;
    width: 1000px;
    min-height: 100px;
    margin: 5px auto;
    border: 2px solid brown
    ;
    border-radius: 20px;
    padding: 10px;
}

header {
    padding: 10px;
}

main {
    min-height: 400px;
}

footer {
    padding: 10px;
}

h1 {
    style=color: #4C2D05;
}